@page
@using LUJEWebsite.Library.Utils;
@using Newtonsoft.Json
@using MySql.Data.MySqlClient;
@using LUJEWebsite.Library.Models;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
	HttpClient client = new HttpClient();
	ViewData["Title"] = "Peering Portal";
}

@try
{
	MySqlConnection luje_conn = new MySqlConnection(Configuration.DBPath);
	await luje_conn.OpenAsync();

	MySqlCommand luje_cmd = new MySqlCommand("select upstream_id, upstream_name, upstream_asn from upstream where upstream_deleted = false order by upstream_id;", luje_conn);
	MySqlDataReader luje_rdr = (MySqlDataReader)await luje_cmd.ExecuteReaderAsync();

	<div class="wrapper post">
		<main class="page-content" aria-label="Content">
			<article>
				<header class="header">
					<h1 class="header-title">Upstream Admin</h1>
				</header>

				<div class="page-content">
					<form method="post" action="./upstream_manage">
						<input type="hidden" name="__RequestVerificationToken" value="@Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken" />
						<table width="100%">
							<tr>
								<td width="60%">Name</td>
								<td width="20%">ASN</td>
								<td width="20%"></td>
							</tr>
							<tr>
								<td width="60%"></td>
								<td width="20%"></td>
								<td width="20%"></td>
							</tr>
							@while (luje_rdr.Read())
							{
								<tr>
									<td width="60%"><a href="./upstream_network?id=@luje_rdr["upstream_id"].ToString()">@luje_rdr["upstream_name"].ToString()</a></td>
									<td width="20%">@luje_rdr["upstream_asn"].ToString()</td>
									<td width="20%"><a onclick="if(confirm('Are you sure you want to delete the upstream')){document.location.href='./upstream_manage?delete=@luje_rdr["upstream_id"].ToString()';}" href="#">Delete</a></td>
								</tr>
							}
							<tr>
								<td width="60%"><input name="name" type="text" style="width:100%" /></td>
								<td width="20%"><input name="asn" type="number" style="width:100%" /></td>
								<td width="20%"><input type="submit" value="Add" /></td>
							</tr>
						</table>
					</form>
				</div>
			</article>
		</main>
	</div>
	await luje_rdr.CloseAsync();
	await luje_conn.CloseAsync();
}
catch (HttpRequestException e)
{
	Console.WriteLine("\nException Caught!");
	Console.WriteLine("Message :{0} ", e.Message);
}