@page
@{
    ViewData["Title"] = "Contact";
}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">Contact</h1>
            </header>

            <div class="page-content">
                <p>You can contact LUJE.net via the following methods.</p>
                <p>If you have complains about abuse please contact abuse [at] luje.net</p>
                <p>For general inquiries, operational questions or peering requests please contact hostmaster [at] luje.net.</p>
            </div>
        </article>
    </main>
</div>