@page
@{
    ViewData["Title"] = "Contact";
}

<div class="columns nine">
	<h2>Contact</h2>
	<p>You can contact LUJE.net via the following methods.</p>
	<p>If you have complains about abuse please contact abuse [at] luje.net</p>
	<p>For general inquiries, operational questions or peering requests please contact hostmaster [at] luje.net.</p>
</div>