@page
@using Npgsql;
@using LUJEWebsite.app.Utils;
@{
    ViewData["Title"] = "Peers";
    try	
    {
		NpgsqlConnection luje_conn = new NpgsqlConnection(Configuration.DBPath);
		luje_conn.Open();
		NpgsqlCommand luje_cmd = new NpgsqlCommand("select peeringdb_network.name, peeringdb_network.asn from peering INNER JOIN peeringdb_network ON peeringdb_network.id = peering_peeringdb_id where peering_active = true and peering_deleted = false order by cast(peering_asn as integer) asc;", luje_conn);
		NpgsqlDataReader luje_rdr = luje_cmd.ExecuteReader();

		<div class="columns nine">
			<h2>Peers</h2>
			<p>LUJE.net is connected with the following networks on mutual exchange points:</p>
			<table width="100%">
				<tr>
					<td width="20%">AS Number</td>
					<td width="80%">Name</td>
				</tr>
				<tr>
					<td width="20%"></td>
					<td width="80%"></td>
				</tr>
				@while (luje_rdr.Read())
				{
					string asn = "AS" + luje_rdr["asn"].ToString();
					string name = luje_rdr["name"].ToString();
					<tr>
						<td width="20%">@asn</td>
						<td width="80%">@name</td>
					</tr>
				}
			</table>
		</div>
		luje_rdr.Close();
		luje_conn.Close();
	}
    catch(HttpRequestException e)
    {
        Console.WriteLine("\nException Caught!");	
        Console.WriteLine("Message :{0} ",e.Message);
    }
}