@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>AutoPeer API</title>
    <style>
        html { color-scheme: light dark; }
        body { width: 35em; margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif; }
    </style>
</head>
<body>
    <h1>AutoPeer API</h1>
    <p>
        You can configure peering via the AutoPeer API or the Peering Portal.
    </p>
    <p>
        <a href="swagger">You can find the documentation here.</a>
    </p>
</body>
</html>
